@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Andika");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("reset.css");
body {
  font-family: "Pacifico";
  /*блок с наложением на фон */
  /*блок приветсвия и преимуществ */
  /* об авторе */
  /*блок портфолио */
  /*Образы */
  /*форма */
  /*==========  Desktop First  ========== */
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
  /*==========  Mobile First  ========== */
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  body a {
    cursor: pointer; }
  body .navbar {
    background: #FA604D; }
    body .navbar .navbar-brand {
      color: #fff;
      cursor: pointer; }
    body .navbar .navbar-toggler {
      background: #F1F6FC !important; }
      body .navbar .navbar-toggler .navbar-toggler-icon {
        color: #FA604D;
        font-size: 12px;
        padding: 0 12px 0 0;
        margin-right: 12px; }
    body .navbar .navbar-collapse {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      body .navbar .navbar-collapse .nav-link {
        color: #fff;
        cursor: pointer;
        margin-right: 1em !important; }
      body .navbar .navbar-collapse .nav-link:hover {
        background: #F1F6FC;
        color: #FA604D; }
  body .header {
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative; }
    body .header .overlay {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(41, 58, 67, 0.37); }
  body .description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em; }
    body .description h3 {
      color: #FA604D;
      font-size: 38px;
      font-weight: bold; }
    body .description p {
      color: #fff;
      font-size: 20px;
      width: 50%;
      line-height: 1.5; }
    body .description .buttonMore {
      color: #fff;
      font-size: 20px;
      padding: 10px 20px;
      border: 1px solid #FA604D;
      background-color: #FA604D; }
      body .description .buttonMore:hover {
        background-color: #fb8c7f; }
      body .description .buttonMore:active {
        background-color: #f9341b; }
  body .about {
    margin: 4em 0;
    position: relative;
    padding: 1em; }
    body .about img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
    body .about span {
      display: block;
      color: #888;
      position: absolute;
      left: 115px; }
  body .desc {
    padding: 2em;
    border-left: 4px solid #3AC1EF;
    position: relative; }
    body .desc h1 {
      color: #FA604D;
      margin: 4em;
      font-size: 30px;
      color: #FA604D;
      margin: 2em; }
    body .desc h3 {
      margin: 2em;
      font-size: 30px;
      color: #3AC1EF; }
    body .desc .jobs {
      text-align: left;
      padding-left: 10px;
      line-height: 2;
      color: #888;
      position: relative; }
      body .desc .jobs li::before {
        content: "●";
        position: absolute;
        color: #FA604D;
        font-size: 25px;
        line-height: 120%;
        text-indent: -21px; }
  body .portfolio {
    margin: 4em 0;
    position: relative; }
    body .portfolio h1 {
      color: #FA604D;
      margin: 4em;
      font-size: 30px; }
    body .portfolio .card {
      overflow: hidden;
      -webkit-box-shadow: 0 0 20px #F1F6FC;
              box-shadow: 0 0 20px #F1F6FC; }
      body .portfolio .card .img-fluid {
        margin-bottom: 10px;
        height: 15rem;
        width: 100%;
        -webkit-transition: -webkit-transform 0.25s ease;
        transition: -webkit-transform 0.25s ease;
        transition: transform 0.25s ease;
        transition: transform 0.25s ease, -webkit-transform 0.25s ease;
        /*стиль */ }
        body .portfolio .card .img-fluid:hover {
          -webkit-transform: scale(1.2) translateY(-20px);
                  transform: scale(1.2) translateY(-20px);
          background-size: cover;
          background-position: center; }
  body .blog {
    margin: 4em 0;
    position: relative; }
    body .blog h1 {
      color: #FA604D;
      margin: 4em;
      font-size: 30px; }
    body .blog .card {
      -webkit-box-shadow: 0 0 20px #F1F6FC;
              box-shadow: 0 0 20px #F1F6FC;
      -webkit-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
      text-decoration: none;
      overflow: hidden; }
      body .blog .card:hover {
        background-color: #F1F6FC; }
      body .blog .card .card-img {
        height: 12em;
        -webkit-transition: -webkit-transform 0.25s ease;
        transition: -webkit-transform 0.25s ease;
        transition: transform 0.25s ease;
        transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
        body .blog .card .card-img:hover {
          -webkit-transform: scale(1.03) translateY(-2.5px);
                  transform: scale(1.03) translateY(-2.5px); }
      body .blog .card .card-body {
        padding: 1em; }
      body .blog .card .card-footer {
        color: #FA604D; }
  body .team {
    margin: 4em 0;
    position: relative; }
    body .team h1 {
      color: #FA604D;
      margin: 4em;
      font-size: 30px; }
    body .team .item {
      position: relative; }
      body .team .item .des {
        background: #FA604D;
        color: #fff;
        text-align: center;
        border-bottom-left-radius: 83%;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        /*аниация для команды */ }
        body .team .item .des:hover {
          height: 100%;
          background: #FA604D9D;
          position: absolute;
          width: 89%;
          padding: 5em;
          top: 0;
          border-bottom-left-radius: 0; }
  body .contact-form {
    margin: 6em 0;
    position: relative; }
    body .contact-form h1 {
      color: #FA604D;
      margin: 4em;
      font-size: 30px; }
    body .contact-form input {
      font-family: arial; }
    body .contact-form .social h4 {
      font-size: 20px;
      color: #3AC1EF;
      padding: 1em; }
    body .contact-form .phone {
      margin-bottom: 2em; }
    body .contact-form .right {
      max-width: 600px; }
      body .contact-form .right h4 {
        font-size: 16px;
        color: #3AC1EF;
        padding: 1em; }
      body .contact-form .right label {
        padding-bottom: 10px; }
      body .contact-form .right .form-control::-webkit-input-placeholder {
        color: #888;
        font-size: 16px; }
      body .contact-form .right .form-control:-ms-input-placeholder {
        color: #888;
        font-size: 16px; }
      body .contact-form .right .form-control::-ms-input-placeholder {
        color: #888;
        font-size: 16px; }
      body .contact-form .right .form-control::placeholder {
        color: #888;
        font-size: 16px; }
      body .contact-form .right .btn-secondary {
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        border: 1px solid #3AC1EF;
        background-color: #3AC1EF; }
        body .contact-form .right .btn-secondary:hover {
          background-color: #69d0f3; }
        body .contact-form .right .btn-secondary:active {
          background-color: #12aee4; }
  body .main-footer {
    padding: 20px 0 10px 0;
    background-color: #FA604D;
    text-align: center;
    color: #fff;
    font-size: 24px; }
    body .main-footer .footer-logo {
      padding-top: 20px;
      color: #fff;
      line-height: 1.16; }
      body .main-footer .footer-logo p {
        display: block;
        color: #fff;
        font-size: 20px; }
    body .main-footer .footer-copy {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin: 0px 20px 0 20px; }
  @media only screen and (max-width: 768px) {
    body .description h3 {
      font-size: 35px; }
    body .description p {
      font-size: 16px;
      width: 50%; } }
  @media only screen and (max-width: 480px) {
    body .description h3 {
      font-size: 28px; }
    body .description p {
      font-size: 14px;
      width: 100%; }
    body .jobs li::before {
      margin-left: 10px;
      font-size: 44px;
      line-height: 120%;
      text-indent: -29px; } }
  @media only screen and (max-width: 320px) {
    body {
      /* */ } }
  @media only screen and (min-width: 320px) {
    body {
      /* */ } }
  @media only screen and (min-width: 480px) {
    body {
      /* */ } }
  @media only screen and (min-width: 768px) {
    body {
      /* */ } }
  @media only screen and (min-width: 992px) {
    body {
      /* */ } }
  @media only screen and (min-width: 1200px) {
    body {
      /* */ } }
/*# sourceMappingURL=style.css.map */