@import url('reset.css');
@import url('typography.css'); 
@import url('https://fonts.googleapis.com/css?family=Andika');
body {    
  background-color:#2C2E32; 
  font-family: 'Andika',Lucida Sans Unicode, Lucida Grande, sans-serif;
/*background-image: url("../img/body.png"); */
}
.container{
  height: auto;
}
.cont{ 
  max-width:3760px !important;
}

.header{
  display:block;
  margin:  0 auto 0 auto; 
  /* position:relative;*/
}
  .legend{  
    padding: 10px;
    background-color:#00593F;
    margin:  0 auto 0 auto; 
  }
  .content{
   height:auto ;
   margin-top: 20px;
   margin-bottom:5px; 
   margin:  10px auto 0 auto;

 }
 .colorContent{ 
  background-color:#E9FDFD;
/*  background-color:#EDFFFF;*/
}

.downald{
  /*background-color: #FF7A3E;*/
  padding:2px;
}
.downaldButton { 

  cursor:pointer;
  text-align: center;
  margin:10px auto 10px auto; 
}
.btn-rounded{
 border-radius:20px;
}
.card-header{
   background-color:#D5501A
 
/*  background-color: #FF7A3E;*/
}
 
.card-header .btn-link{
  
  color:#ffffff;
  text-decoration: none;

}
.carousel {
  height:auto !important;
}
.carousel-inner img {
  display: block;
  max-width: 500px !important;
  max-height:350px !important;
  margin: 0 auto;
  
}
.carousel-inner p {
  padding:5px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;

}
.carousel-indicators  {
  visibility:hidden;  
}

.carousel-indicators li:hover {
  cursor: pointer;
}
.Fade {
  overflow: hidden; 
}
.adress {
  padding:5px;
  text-align: center;
}

<!-- левый блок блок-->
/**/

.autorButton{  
  cursor:pointer;
  display: block;
  margin:  10px auto 10px auto;
  text-align:center;
}

#reklama{
  height:auto;
  padding-top: 10px;
}
#mail2 {
  background: url('../img/mail.png') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}

#vkontakte{
  background: url('../img/vk.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}
#instagram{
  background: url('../img/instagram.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}
#facebook{
  background: url('../img/facebook.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}

.sideLeft {
  text-align: center;
}
.contact{
  text-align: center;
  margin:auto;
  margin:10px auto 10px auto; 
}
.ask {
  margin-left: 5px;   
}
.question{

}
.footer{
  display: block;
  margin:  0 auto 0 auto; 
}
.copyright  { 
  padding: 10px;
  width: 100%;  
  text-align: center;
}
<!-- правый блок-->
#faq {
  background: url('../img/ask-answer.png') no-repeat;  
  width: 50px; 
  height: 50px;
  display: block;
  margin: 10px auto auto auto;
}

