@import url('reset.css');
@import url('typography.css'); 
@import url('https://fonts.googleapis.com/css?family=Andika');
body {    
  background-color:#2C2E32; 
  font-family: 'Andika',Lucida Sans Unicode, Lucida Grande, sans-serif;
/*background-image: url("../img/body.png"); */
}
.container{
  height: auto;
}
.cont{ 
  max-width:3760px !important;
}

.header{
  display:block;
  margin:  0 auto 0 auto; 
  /* position:relative;*/
}
  .legend{  
    padding: 10px;
    background-color:#00593F;
    margin:  0 auto 0 auto; 
  }
  .legend h4 {  
    padding-bottom: 5px;
    margin:  5px; 
  }

  .legend{  
    padding: 10px;
    background-color:#00593F;
    margin:  0 auto 0 auto; 
  }

  .content{
   height:auto ;
   margin-top: 20px;
   margin-bottom:5px; 
   margin:  10px auto 0 auto;

 }
 .colorContent{ 
  background-color:#EBEDF1;
/*  background-color:#EDFFFF;*/
}

.downald{
  /*background-color: #FF7A3E;*/
  padding:2px;
}
.downaldButton { 

  cursor:pointer;
  text-align: center;
  margin:10px auto 10px auto; 
}
.btn-rounded{
 border-radius:20px;
}
.card-header{
   background-color:#D5501A
 
/*  background-color: #FF7A3E;*/
}
 
.card-header .btn-link{
  
  color:#ffffff;
  text-decoration: none;

}
.card-body p{
text-indent: 20px;
margin-bottom: 10px;
}

.carousel {
  height:auto !important;
}
.carousel-inner img {
  display: block;
  max-width: 1000px !important;
  max-height: 662px !important;
  /* max-width: auto ;
  max-height: auto ; */
  margin: 0 auto;
  
}
.carousel-inner p {
  padding:5px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;

}
.carousel-indicators  {
  visibility:hidden;  
}

.carousel-indicators li:hover {
  cursor: pointer;
}
.Fade {
  overflow: hidden; 
}
.adress {
  padding:5px;
  text-align: center;
}

<!--правый блок-->
/**/

.autorButton{  
  
  cursor:pointer;
  display: block;
  margin:  10px auto 10px auto;
  text-align:center;

}
.modal-content {
	color:#fff;
	background-color: #2C2E32;
	opacity:0.9;
}
.modal-header {
	color:#fff;
}
.modal-content {
	background-color: #293A43;
	opacity:0.85;
}
#reklama{
  height:auto;
  padding-top: 10px;
}
#mail2 {
  background: url('../img/mail.png') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}

#vkontakte{
  background: url('../img/vk.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px 20px 10px auto;
}
#instagram{
  background: url('../img/instagram.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px 10px;
}
#facebook{
  background: url('../img/facebook.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px 20px;
}

.sideLeft {
  text-align: center;
}
.contact{
  text-align: center;
  margin:auto;
  margin:10px auto 10px auto; 
}
.ask {
  margin-left: 5px;   
}
.question{

}
.footer{
  display: block;
  margin:  0 auto 0 auto; 
}
.copyright  { 
  padding: 10px;
  width: 100%;  
  text-align: center;
}
<!-- правый блок-->
#faq {
  background: url('../img/ask-answer.png') no-repeat;  
  width: 50px; 
  height: 50px;
  display: block;
  margin: 10px auto auto auto;
}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) 
{
 
  .legend img{  
    max-width: 75px;
    height: auto;        
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	{
    .legend-text {
      font-size:  12px;  
      font-weight:  bold;    
    } 
    .legend p {
      font-size:  12px;  
     } 
    .legend img{  
      max-width: 50px;
      height: auto;        
    }
  }


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)	
{
  .legend-text {
    font-size:  11px;  
    font-weight:  bold;  
  } 
  .legend p {
    font-size:  12px;   
    } 
  .legend img{  
    max-width: 30px;
    height: auto;    
      }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
{}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/
{}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
{}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
{}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
{}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
{}
