@import url('reset.css');

body {  
  background-color:#69876A; 
  background-image: url("../img/body.png"); 
}

#hello {
  background-color:#D6FFFF;
  padding-top: 5px ;
  padding-bottom: 5px;
  color: #330033;
  font-family: 'Courier New Bold', Monaco, monospace;
  font-size:  24px;
  font-style: italic;  
  text-align: center;
}
#header{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:#D6FFFF;
}
#header-image img{
  display: block;
  margin:  0 auto 0 auto;  
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.header{
 background-image: url('img/header2.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
#content{
 height:auto ;
 margin-top: 5px;
 margin-bottom:5px; 
}
#center {
  background-color:#E9FDFD;
}
#sideLeft{
  background-color:#E9FDFD;
}
#sideRight{
 background-color:#E9FDFD;
}
#footer{
 background-color:#D6FFFF;
}
#downald{
  padding: 10px;
}
#legend{  
  padding: 10px;
  background-color:#D6FFFF;
}
#downaldButton { 
  height:60px;
  width:300px; 
  cursor:pointer;
}
.button{
	font:20px Calibri, Arial, sans-serif;
  color:white;
  /* A semi-transparent text shadow */
  text-shadow:1px 1px 0 rgba(255,255,255,0.4);

  /* Overriding the default underline styling of the links */
  text-decoration:none !important;
  white-space:nowrap;

  display:inline-block;
  vertical-align:baseline;
  position:relative;
  cursor:pointer;
  padding:10px 10px;	
  background-repeat:no-repeat;
	/* The following two rules are fallbacks, in case
  the browser does not support multiple backgrounds. */
  background-position:bottom left;
  background-image:url('../img/button_bg.png');	
	/* Multiple backgrounds version. The background images
  are defined individually in color classes */	
  background-position:bottom left, top right, 0 0, 0 0;
  background-clip:border-box;	
  /* Applying a default border raidus of 8px */	
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;	
  /* A 1px highlight inside of the button */

  -moz-box-shadow:0 0 1px #fff inset;
  -webkit-box-shadow:0 0 1px #fff inset;
  box-shadow:0 0 1px #fff inset;	
  /* Animating the background positions with CSS3 */
  /* Currently works only in Safari/Chrome */	
  -webkit-transition:background-position 1s;
  -moz-transition:background-position 1s;
  transition:background-position 1s;
  cursor:pointer;
}

.button:hover{	
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
    */	
    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
  }

  .button:active{
   /* Moving the button 1px to the bottom when clicked */
   bottom:-1px;
 }
/* .button.rounded{
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
  }  */

  .green.button{
   color:#345903 !important;
   border:1px solid #96a37b !important;	
   background-color: #79be1e;	
   background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
   background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
 }
 .green.button:hover{
   background-color:#89d228;	
   background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
   background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
 }

 .blue.button{
   color:#0f4b6d !important;	
   border:1px solid #84acc3 !important;	
   /* A fallback background color */
   background-color: #48b5f2;	
   /* Specifying a version with gradients according to */	
   background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
   -moz-radial-gradient(	center bottom, circle,
    rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
   -moz-linear-gradient(#4fbbf7, #3faeeb);
   background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
   -webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
     from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
 }
 .blue.button:hover{
   background-color:#63c7fe;	
   background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
   -moz-radial-gradient(	center bottom, circle,
    rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
   -moz-linear-gradient(#63c7fe, #58bef7);						
   background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
   -webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
     from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));}

   .orange.button{
     color:#693e0a !important;
     border:1px solid #bea280 !important;	
     background-color: #e38d27;	
     background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(232,189,45,1) 0,rgba(232,189,45,0) 100px),-moz-linear-gradient(#f1982f, #d4821f);
     background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(232,189,45,1)), to(rgba(232,189,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1982f), to(#d4821f));
   }
   .orange.button:hover{
     background-color:#ec9732;	
     background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(241,192,52,1) 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#f9a746, #e18f2b);
     background-image:url('../img/button_bg.png'), url('../img/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241,192,52,1)), to(rgba(241,192,52,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b));
   }		

   #downaldText{
    padding-top:10px;
  }

  .carousel {
    height:auto !important;
  }
.carousel-inner img {
  display: block;
  max-width: 500px !important;
  max-height:350px !important;
  margin: 0 auto;
  
}
.carousel-inner p {
  padding:5px;
  margin: 0 auto;
  text-align: center;
}
.carousel-indicators  {
  visibility:hidden;
  
}
 .carousel-indicators li:hover {
  cursor: pointer;

}
.Fade {
  overflow: hidden; 
}
#adress {
  padding:5px;
  text-align: center;
}
<!-- левый блок блок-->

#info, #form, #contact{
  height:auto;
  padding-bottom: 10px;
}
#contact{
 text-align:center;
}
#autorButton{
  height:60px;
  width:90px; 
  cursor:pointer;
  display: block;
  margin:  10px auto 10px auto;
  text-align:center;
}
#reklama{
  height:auto;
  padding-top: 10px;
}

#mail2 {
  background: url('../img/mail.png') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}

#vkontakte{
  background: url('../img/vk.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}
#instagram{
  background: url('../img/instagram.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}
#facebook{
  background: url('../img/facebook.jpg') no-repeat;  
  width: 50px; 
  height: 30px;
  display: block;
  margin:  10px auto 10px auto;
}
div#sideLeft p{

  margin:auto;
}

#ModalF{
  margin:10px auto 10px auto;  
}
<!-- правый блок-->

.ask {
  margin-left: 5px;   
}
.question {
}
div#ask-answer {
  background: url('../img/ask-answer.png') no-repeat;  
  width: 50px; 
  height: 50px;
  display: block;
  margin: 10px auto auto auto;
}

#footer-image img{
  display: block;
  margin:  0 auto 0 auto;
  display: inline-block;
  height: auto;
  max-width: 100%;
}
#footer-text  {
  background-color:#D6FFFF;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.footer{
 background-image: url('img/footer2.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
<!--ШРИФТЫ->

div#content p{
  font-family: 'Courier New Bold', Monaco, monospace;
  font-size:16px;
  font-weight:  bold;
}
div#downald p{
  color:#005555;
  font-family: 'Courier New Bold', Monaco, monospace;
  font-size: 16px;
  font-style: italic;
  font-weight:bold;
}
div#sideLeft p{
  font-size: 12px;
  font-style: normal;
}
div#legend h4 {
  font-family: 'Courier New Bold', Monaco, monospace;
  font-size:  16px;
  font-style: italic;
  font-weight:  bold;
  text-align: center;
  color: #330033;
} 
div#sideRight h4 {
 color: #330033;
 font-family: 'Courier New Bold', Monaco, monospace;
 font-size:  20px;
 font-style: italic;
 font-weight:  bold;
 text-align: center; 
}  

div#sideRight p{
  color: #330033;
  font-family: 'Courier New Bold', Monaco, monospace;
  font-size:14px;
  font-style:italic;
  line-height:1em;
  text-indent:10px;
  font-weight:bold;

} 
div#sideRight , p span.answer {
  color: #003300;} 
